

.pai {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(211, 182, 127);
    border-radius: 15px;
}

h1 {
    background-color: rgba(255, 166, 0, 0.74);
}

canvas {
    background-color: rgb(238, 193, 109);
}

div {
    margin: 25px;
}

p {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}